--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.2.0+cu118 ; sys_platform == 'linux' or sys_platform == 'win32'
torch==2.2.0 ; sys_platform == 'darwin'
ctranslate2>=4.0,<5
stanza==1.10.1
numpy==1.26.4
sentencepiece>=0.2.0,<0.3
requests==2.31.0
PyYAML==6.0.1
sacrebleu==2.3.1
subword-nmt>=0.3.7
OpenNMT-py==3.5.1
tensorboard==2.14.0
six==1.16.0
iso639==0.1.4
sacremoses==0.0.53
removedup==1.1.0
fastshuffle==1.0.1
